a{ 
    color:aliceblue;
    text-decoration:none;
    transition:0.7;

}

a:hover { 
    opacity:0.7
}

.logo{
    font-size: 24px;
    text-transform:uppercase;
    letter-spacing:4px;
    z-index: 0;

}

nav {
    display:flex;
    justify-content: space-around;
    font-family:Arial, Helvetica, sans-serif;
    background:#442b0a;
    height: 12vh;
    position:fixed;
    top:0;
    left:0;
    right:0;
    align-items: center;
    z-index:0;

}
.nav-list{
    list-style:none;
    display:flex;
}

.nav-list li{ 
    letter-spacing:3px;
    margin-left: 32px;
}
/* fim do Menu de Nav --------------------------------------------------------------------------- */

#banner2{
    text-align: center;
    margin-top:20px;
    margin-right:200px;
    margin-left:35px;
    background-color: #d1a162;
    box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.10);
    padding:10px;
    width:1100px;

}
    



#div1{
    display:flex;
    flex-direction: row;
    background-color:#e0bb8b ;
}
#div2{
    display:flex;
    flex-direction: row;
    background-color:#e0bb8b ;
 }
#div3{ display: flex;
        flex-wrap: wrap;
        width:100px;
        gap:30px;
        margin-left:20px;

}

#p1{
    width: 500px;
    height: 300px;
    margin:30px;
    padding:30px;
    border:20px;
    background-color: #d1a162;
    box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.10);

}

#p2{
    width: 500px;
    height: 300px;
    margin:30px;
    padding:30px;
    border:20px;
    background-color: #d1a162;
    box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.10);

}

#img2{
    width:500px;
    height: 300px;
    margin:30px;
    padding:30px;
    border:20px;
    background-color: #d1a162;
    box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.10);
}

#img3{
    width:500px;
    height: 300px;
    margin:30px;
    padding:30px;
    border:20px;
    background-color: #d1a162;
    box-shadow:0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.10);
}

#imgstar{
    width:30px;
    position:absolute;
    top:0;
}