/* Style */

body{
    background-image: linear-gradient(to bottom right,
    rgb(223, 166, 93)
    ,rgb(218, 171, 110)
    ,rgb(228, 196, 155),
    rgb(240, 208, 166)); }

.Texto{
    color: #231709;
    text-indent: 4px;
    font-size:15px;
    text-align:center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 25px;
}


#listasabores{
    text-align:center;
    color:#231709 ;
    line-height: 25px;

}
/* Titulos e seus styles --------------------------------------------------------------------------- */
h1{ font-family: 'Grape Nuts', cursive;
    color: #45322E ;
    font-size: 100px;
    margin:2px;
    padding:2px;

}

h3{
    text-align:center;
    color: #442b0a ;
    font-size:30px
}

/* Imagens --------------------------------------------------------------------------- */
#figure {
    display: flex;
    justify-content: flex-end;                           
    text-align: center;
    float:right;

}

#legenda{
    color:aliceblue;
    text-align: justify;
    caption-side:bottom;
    display: flex-end;
    text-align: end;
}


#frap{
    max-width: 500px;
    text-align: center;
    justify-content: flex-end;
    padding: 1px;
    margin:1px;

}

.logo{
    max-width:100px;
    text-align:center;
    width:100px;
    border-style: solid;
    border-radius: 10px;
    border-left:#442b0a;
    border-bottom: #442b0a;
    border-top: #58370c;
    border-right:#58370c;
}

#div{
    display:flex;
    text-align:center;
    flex-direction:row;
    justify-content:space-evenly;
    margin:50px;
}

#div2{
    display:flex;
    text-align:center;
    flex-direction:row;
    background-color:#462b0c;
    margin-left:500px;
    margin-right:500px;
    margin-top:100px;
    border-radius: 10px;
    border-color: #231709;
    color:#c79553;
}

/* Menu de Nav --------------------------------------------------------------------------- */
a{ 
    color:aliceblue;
    text-decoration:none;
    transition:0.7;

}

a:hover { 
    opacity:0.7
}

.logo{
    font-size: 24px;
    text-transform:uppercase;
    letter-spacing:4px;

}

nav {
    display:flex;
    justify-content: space-around;
    font-family:Arial, Helvetica, sans-serif;
    background:#442b0a;
    height: 8vh;
    position:fixed;
    top:0;
    left:0;
    right:0;
    align-items: center;

}
.nav-list{
    list-style:none;
    display:flex;
}

.nav-list li{ 
    letter-spacing:3px;
    margin-left: 32px;
}


/*
#Menu{
    position:fixed;
    top:0;
    right:0;
    background-color:#bd7313;
    height:50px;
    width:100%;

}

#MenuItens{
    list-style: none;
    display:flex;
    justify-content:space-evenly;


}
*/









/* Botões --------------------------------------------------------------------------- */
a.b1:link , a.b1:visited{
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a.b1:hover , a.b1:active {
    background-color:#c79553;
    border-radius: 10px;
    border-color: #231709;
    color:#231709;
    transition-duration:2;

}