a{ 
    color:aliceblue;
    text-decoration:none;
    transition:0.7;

}

a:hover { 
    opacity:0.7
}

.logo{
    font-size: 24px;
    text-transform:uppercase;
    letter-spacing:4px;

}

nav {
    display:flex;
    justify-content: space-around;
    font-family:Arial, Helvetica, sans-serif;
    background:#442b0a;
    height: 12vh;
    position:fixed;
    top:0;
    left:0;
    right:0;
    align-items: center;

}
.nav-list{
    list-style:none;
    display:flex;
}

.nav-list li{ 
    letter-spacing:3px;
    margin-left: 32px;
}
/* Fim da barra de navegação --------------------------------------------------------------------------- */
.img1{
    width:300px;
    margin:15px;
    padding:5px;
    border-color: #442b0a;
    border-style: solid;
    border-radius: 1px;
    border-width: 10px;
    max-width: 500px;
    transition: 200ms ease-in-out;
}

.img1:hover {
    width: 310px;

}



#divprodutos{
    display:flex;
    text-align: center;
    flex-direction:row;
    max-width:auto;
}
#divprodutos2{
    display:flex;
    flex-direction:row;
    max-width:auto;
    margin: auto;
    margin-top:50px;
}

.legenda{
    text-align: center;
    padding:5px;
    border:1px;
    background-color:rgb(221, 171, 105);
    margin:14px;
    color:#442b0a;
    font-family: 'Times New Roman', Times, serif;
    box-shadow:0 10px 20px rgba(0,0,0,0.25), 0 6px 6px rgba(0,0,0,0.30);
}

h1{
    text-align: center;
    color: #442b0a;
    margin:30px;
}

#geral{
    margin-left: 100px;
}




#foot1{
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size: 16px;
}

#foot2{
    color:rgb(37, 36, 36);
    opacity: 0.8;
}

#redes{
    list-style:none;
    display:flex;
    flex-direction: row;
    
    
}

.redes1{
    width:30px;
    margin-right:15px;
    margin-top:15px;
    margin-bottom:15px;
    transition: 0.5s;
    justify-content: space-around;
}

.redes1:hover {
    width: 40px; }